#allMeal{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 10px;
    justify-items: center;
}
#navbar a{
    font-size: 20px;
}
.meal{
    box-shadow: 10px 10px 20px gray;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}
.meal img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.meal img:hover{
    cursor: pointer;
}
.meal h4{
    text-align: center;
}
.meal h4:hover{
    cursor: pointer;
}
#mealDetail{
    display: flex;
    justify-content: center;
}
.aboutMeal{
    box-shadow: 10px 10px 20px gray;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}
.aboutMeal img{
    width: 300px;
    height: 250px;
}
#error{
   text-align: center;
   font-size: 30px;
   color: crimson;
   background: darkkhaki;
}
#allMeal p{
    text-align: center;
    background: darksalmon;
    font-size: 20px;
}